* {
    margin: 0;
    padding: 0;
    font-family: 'Minecraft';
    user-select: none;

    font-style: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
    color: #F8F8F8;

    overflow: hidden !important;
}

body {
    font-size: 2vmin;

    background-image: url("../../public/dirt_block.png");
    image-rendering: pixelated;
    background-size: 64px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5) inset;
}

#yellow_text {
    color: #FFAA00;
}

#grey_text {
    color: #AAAAAA;
}

#red_text {
    color: #AA0000;
}