.player_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vmin;

    background-color: rgba(0, 0, 0, 0.3);

    padding: 1.15vmin;

    width: 19.5vmin;

    text-wrap: wrap;

    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.player_head {
    width: 4vmin;
    height: 4vmin;
    padding: 0.5vmin;
    background-color: rgba(0, 0, 0, 0.3);
}

.player_username {
    font-size: 2vmin;
}

.player_info {
    font-size: 1.8vmin;
    display: flex;
    flex-direction: row;
    gap: 0.5vmin;
}
