.aside {
    width: 25vw;

    display: flex;
    flex-direction: column;

    z-index: 2;

    background-color: rgba(0, 0, 0, 0.3);
}

.last_round_result, .winners, .lucky, .chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.last_round_result, .winners, .lucky {
    height: 25vh;
}

.last_round_result, .winners {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.chat {
    height: 25vh;

    background-color: black;
    justify-content: center;
}

.title {
    font-size: 2.5vmin;
    padding: 1.5vmin;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.25vmin;
}

.last_winner_name, .last_winner_amount, .last_winner_chance, .best_winners, .lucky_guys {
    display: flex;
    flex-direction: row;
    gap: 1vmin;
    justify-content: center;
    align-items: center;
}

.aside_player_head {
    width: 3vmin;
    height: 3vmin;
    padding: 0.5vmin;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
}
